In [29]:
import psycopg2

In [30]:
con = psycopg2.connect(host='localhost', database='testdatabase', user='TestUser', password='test')

In [31]:
cur = con.cursor()

In [32]:
cur.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")

In [33]:
cur.fetchall()

[('candidatos',)]

In [21]:
sql = """CREATE TABLE Candidatos(
	id_candidato NUMERIC(20) NOT NULL,
	Nome VARCHAR(100) NOT NULL,
	Partido VARCHAR(20),

	CONSTRAINT candidato_pk PRIMARY KEY(id_candidato)
)"""

In [22]:
cur.execute(sql)

In [23]:
cur.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")

In [24]:
cur.fetchall()

[('candidatos',)]

In [25]:
sql = """INSERT INTO Candidatos VALUES(13, 'Josias roba mais faiz', 'Perda Total');
INSERT INTO Candidatos VALUES(22, 'Tião da bala braba', 'Partyotas');
INSERT INTO Candidatos VALUES(30, 'Berenice anarquista', 'OVO')"""

In [26]:
cur.execute(sql)

In [9]:
cur.execute('select * from Candidatos')

In [10]:
results = cur.fetchall()

In [19]:
for line in results:
    print(line[0], line[1].center(100, ' '), line[2])

13                                        Josias roba mais faiz                                         Perda Total
22                                          Tião da bala braba                                          Partyotas
30                                         Berenice anarquista                                          OVO

In [12]:
results

[(Decimal('13'), 'Josias roba mais faiz', 'Perda Total'),
 (Decimal('22'), 'Tião da bala braba', 'Partyotas'),
 (Decimal('30'), 'Berenice anarquista', 'OVO')]

In [20]:
con.commit()